* {
  margin: 0;
  padding: 0; 
}
header{
  box-shadow: 0px 1px 20px 0px rgb(226, 226, 226);
}
.hero {
  background-color: #eff4fd;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: linear-gradient( #eff4fd,grey);
}
.logo {
  height: 100px;
}
nav {
  width: 84%;
  margin: auto;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
nav ul {
  margin-left: 20%;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  font-size: 20px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.detel {
  margin-top: 12%;
  margin-left: 10%;
}
.detel h1 {
  font-size: 40px;
  line-height: 1.2;
}
.detel p {
  color: rgb(61, 14, 14);
  font-size: 14px;
}
.detel span {
  color: rgba(247, 161, 2, 0.958);
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Poppins", sans-serif;
}
.detel a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  display: inline-block;
  margin: 20px 0px;
}
.icons a i {
  color: rgb(92, 92, 92);
  margin: 5px;
}
.main{
  display:flex;
  justify-content: space-around;
}
.pic img {
  height: 400px;
  /* border:2px solid black; */
  border-radius: 49%;
  position: relative;
  right:70px;
  top:55px;
  box-shadow: 1px 1px 20px 0px rgb(206, 205, 205),-1px -1px 10px 0px rgb(206, 205, 205);
}
footer {
  /* background-color: green; */
  position: fixed;
  bottom: 50px;
  width: 100%;
  text-align: center;
  
}
